* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "marckscript";
  src: url("fonts/marckscript.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #810000;
}

.title {
  font-family: "marckscript";
  font-size: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  color: white;
}

.input-search {
  display: flex;
}

#search {
  flex: 1;
  padding: 15px;
}

.shows {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.show {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.show p {
  font-family: "marckscript";
  font-size: 25px;
}

.show-img {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
}

.show-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;
}